#userCreateContainer{
    height: 500px;
    width: 294px;
    border: black solid;
    margin-left: 60px;
    margin-bottom: 200px;
}

#userBucket{
    height: 400px;
    width: 100%;
    border: solid black 2px;
}

#carouselContainer{
      border: black solid;
     width: 100px;
    height: 100px; 
     /* margin-top: 160px;
    margin-left: 680px;
    margin-bottom: x; */
}

.jumbotron{
    background-image: url(../images/charles-I6mx55jXOvM-unsplash.jpg);
    color: white;
}

.input-group{
    width: 350px;
    margin-left: 60px;
}

.btn{
    margin-left: 20px;
    font: center;
}
.list-group-item{
position: center;

}

#mtDisplay{
    margin-left: 10px;
}

footer{
    width:100%;
    height: 65px;
    background: #01273c;
    font: center;
    color: #FBD1A7;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
  
}

.carousel{
    margin-right: 30px;
    margin-bottom: 200px;
    
}

/* #movieTitle{ */
    /* height: 50px;
    width: 200px;
} */

#trending1{
    height: 200px;
    width: 200px;
}