h1{
    font-family: 'Overpass', sans-serif;
}

p{
    font-family: 'Overpass', sans-serif;

}

body{
 background-color: #353C42;

}

#inputField{
height: 70px;;
width: 288px;

}

#inputField{
height: 70px;;
width: 286px;

}

#userCreateContainer{
    height: 54px;
    width: 294px;
    border: black solid;
    margin-left: 58px;
}

#userBucket{
    height: 218px;
    width: 100%;
    border: solid black 2px;
    background-color: #607178;
    overflow: auto;  
}

#carouselContainer{
      border: black solid;
     width: 100px;
    height: 100px; 
    margin-right: 100px;
}

.jumbotron{
    background-image: url(../images/charles-I6mx55jXOvM-unsplash.jpg);
    color: white;
}

.input-group{
    width: 350px;
    margin-left: 60px;
}

.btn{
    margin-left: 20px;
    font: center;
}
.list-group-item{
position: center;

}

#mtDisplay{
    margin-left: 10px;
}
footer{
    width: 100%;
    height: 65px;
    background: #01273c;
    font: center;
    color: #FBD1A7;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    position: absolute;
  
}

.carousel{
    height: 300px;
    width: 375px;
    margin-left: 700px;
    margin-bottom: 400px;
}


#trending1{
    height: 200px;
    width: 200px;
}


.btn{
    color: #FBD1A7;
    background-color: #01273c;
}



#userComment{
    background-color: #607178
}

#bottomHeader{
    font-family: 'Overpass', sans-serif;
background-color: #607178;
border: black solid 1px;
width: 200px;
height: 60px;
text-align: center;
font-size: 28px;
z-index: 1;
position: relative;
background-color: #01273c;
color: #FBD1A7;
}

#myBucketHeader{
    margin-top: 5px;

}

#userBucketItem1{   
    margin-left: 1075px;
    width: 286px;
    float: right;
    position: absolute;
}
#userBucketItem2{
  margin-left: 720px;
    width: 286px;
    height: 70px;
    float: right;
    position: absolute;
}

#userBucketItem3{
    margin-left: 361px;
    width: 286px;
    height: 70px;
    float: right;
    position: absolute;
    
}

#userBucketItem4{
    margin-left: 0px;
    width: 286px;
    height: 70px;
    float: right;
    position: absolute;
    
}

.card-header{
    background-color: #01273C;
    color: #FBD1A7;
    font-family: 'Overpass', sans-serif;

 
}

textarea{
    background-color: #01273C;
    color: #FBD1A7;
}

.btn{
    margin-left: 20px;

    font-family: 'Overpass', sans-serif;

}

#trendingHeader{
    border: black solid 2px;
    width: 350px;
    text-align: center;
    background-color: #01273C;
    color: #FBD1A7;
    font-family: 'Overpass', sans-serif;
}

#usercomment{
    width: 286px
}

@media screen and (max-width:980px){

.carousel {
    height: 200px;
    width: 250px;
    margin-left: 400px;
    margin-bottom: 600px;
}

#userBucket{
    height: 400px;
    background-color: #607178;
  
}

#userBucketItem1{

    height: 400px;
    }


}

@media screen and (max-width:851px){
    #userbucket{
        height:
    }
}


@media screen and (max-width:768px){

    #userBucket {
        width: 100%;
        background-color: #607178;

    }
}

@media screen and (max-width:640px){
       
    #userCreateContainer{
            position: absolute;
        }
        #trendingHeader{
            width:200px;
            height: 200px;
            position: absolute;
           
            margin-top: 670px;
            margin-left: 0px;
            visibility: hidden;
        }
        #userBucket {
            width: 100%;
            background-color: #607178;
        
        }
        #topLeft{
            position: absolute;
        }
}