body{
 background-color: #353C42
}

#userCreateContainer{
    height: 500px;
    width: 294px;
    border: black solid;
    margin-left: 60px;
    margin-bottom: 200px;
}

#userBucket{
    height: 400px;
    width: 1440px;;
    border: solid black 2px;
    margin-top: 390px;
    background-color: #607178;
    /* margin-left: 30px;
    margin-right: 30px; */
}

#carouselContainer{
      border: black solid;
     width: 100px;
    height: 100px; 
     /* margin-top: 160px;
    margin-left: 680px;
    margin-bottom: x; */
}

.jumbotron{
    background-image: url(../images/charles-I6mx55jXOvM-unsplash.jpg);
    color: white;
}

.input-group{
    width: 350px;
    margin-left: 60px;
}

.btn{
    margin-left: 20px;
    font: center;
}
.list-group-item{
position: center;

}

#mtDisplay{
    margin-left: 10px;
}

footer{
    width: 1440px;
    height: 65px;
    background: #01273c;
    font: center;
    color: #FBD1A7;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
  
}

/* .carousel{
    margin-right: 30px;
    margin-bottom: 200px;

    
} */

/* #movieTitle{ */
    /* height: 50px;
    width: 200px;
} */

#trending1{
    height: 200px;
    width: 200px;
}

#carousel{
    width: 500px;
    height: 300;
    margin-left: 600px;
   margin-top: -620px;
}

.btn{
    color: #FBD1A7;
    background-color: #01273c;
}

#bucketHeader{
border: solid black 2px;
width: 150px;
height: 31px;
text-align: center;
z-index: 1;
position: relative;
background-color: #01273c;
color: #FBD1A7;
}

#formBackground{
    background-color: #607178;
}